<a href="https://colab.research.google.com/github/MarceloPiemonteRibeiro/learning-Machine-learning/blob/main/Recommender%20system/ML_system_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Source: alur course about ML and [recommendation system](https://cursos.alura.com.br/course/introducao-a-sistemas-de-recomendacao-com-python)

# Import data

import movies from movies lems

In [1]:
import pandas as pd

filmes = pd.read_csv("movies.csv")
filmes.columns = ["filmeId", "titulo", "generos"]
filmes = filmes.set_index("filmeId")
filmes.head()

,titulo,generos
filmeId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

import the movies' ratings

In [2]:
notas = pd.read_csv("ratings.csv")
notas.columns = ["usuarioId", "filmeId", "nota", "momento"]
notas.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

Summarize

In [3]:
notas.describe()

           usuarioId        filmeId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

# Setting a recommendation system

## Recommend based on popularity and items characteritics (users' gradings)

So far we have 2 databases, one about the movies and the second about the grades given by different users. The first issue is about the representativeness of the sample. The second issue is that some movies can be watched by few users and this could be accentuaded if the ratings are biased.

First, order the movies by popularity

In [4]:
total_de_votos = notas["filmeId"].value_counts()
total_de_votos.head()

356     329
318     317
296     307
593     279
2571    278
Name: filmeId, dtype: int64

Append the previous to the movies database

In [5]:
filmes['total_de_votos'] = total_de_votos
filmes.head()

,titulo,generos,total_de_votos
filmeId,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215.0
2,Jumanji (1995),Adventure|Children|Fantasy,110.0
3,Grumpier Old Men (1995),Comedy|Romance,52.0
4,Waiting to Exhale (1995),Comedy|Drama|Romance,7.0
5,Father of the Bride Part II (1995),Comedy,49.0

Thus, we are recommending below the most popular movies

In [6]:
filmes.sort_values("total_de_votos", ascending = False).head()

,titulo,generos,total_de_votos
filmeId,,,
356,Forrest Gump (1994),Comedy|Drama|Romance|War,329.0
318,"Shawshank Redemption, The (1994)",Crime|Drama,317.0
296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,307.0
593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,279.0
2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,278.0

Finding the average rating of the movies

In [7]:
notas_medias = notas.groupby("filmeId").mean()["nota"]
notas_medias.head()

filmeId
1    3.920930
2    3.431818
3    3.259615
4    2.357143
5    3.071429
Name: nota, dtype: float64

Append to the previous movies' database. It shows how many times people watch and graded a given movie (total_de_votos) and the last column the average grade

In [8]:
filmes["nota_media"] = notas_medias
filmes.sort_values("total_de_votos", ascending = False).head(10)

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
356,Forrest Gump (1994),Comedy|Drama|Romance|War,329.0,4.164134
318,"Shawshank Redemption, The (1994)",Crime|Drama,317.0,4.429022
296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,307.0,4.197068
593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,279.0,4.161290
2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,278.0,4.192446
260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,251.0,4.231076
480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,238.0,3.750000
110,Braveheart (1995),Action|Drama|War,237.0,4.031646
589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,224.0,3.970982
527,Schindler's List (1993),Drama|War,220.0,4.225000

Instead of ordering by the total views but by tha verage grading. However, the trade-off number of views and high grades is illustrated. Below, outliers are exposed, with movies with very few views and high grades are in the top of the list.

In [9]:
filmes.sort_values("nota_media", ascending = False).head(10)

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
88448,Paper Birds (Pjaros de papel) (2010),Comedy|Drama,1.0,5.0
100556,"Act of Killing, The (2012)",Documentary,1.0,5.0
143031,Jump In! (2007),Comedy|Drama|Romance,1.0,5.0
143511,Human (2015),Documentary,1.0,5.0
143559,L.A. Slasher (2015),Comedy|Crime|Fantasy,1.0,5.0
6201,Lady Jane (1986),Drama|Romance,1.0,5.0
102217,Bill Hicks: Revelations (1993),Comedy,1.0,5.0
102084,Justice League: Doom (2012),Action|Animation|Fantasy,1.0,5.0
6192,Open Hearts (Elsker dig for evigt) (2002),Romance,1.0,5.0
145994,Formula of Love (1984),Comedy,1.0,5.0

It is possible to filter out movies with few views (less than 50 views) instead.

In [10]:
filmes_com_mais_de_50_votos = filmes.query("total_de_votos >= 50")
filmes_com_mais_de_50_votos.sort_values("nota_media", ascending = False).head(10)

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
318,"Shawshank Redemption, The (1994)",Crime|Drama,317.0,4.429022
858,"Godfather, The (1972)",Crime|Drama,192.0,4.289062
2959,Fight Club (1999),Action|Crime|Drama|Thriller,218.0,4.272936
1276,Cool Hand Luke (1967),Drama,57.0,4.271930
750,Dr. Strangelove or: How I Learned to Stop Worr...,Comedy|War,97.0,4.268041
904,Rear Window (1954),Mystery|Thriller,84.0,4.261905
1221,"Godfather: Part II, The (1974)",Crime|Drama,129.0,4.259690
48516,"Departed, The (2006)",Crime|Drama|Thriller,107.0,4.252336
1213,Goodfellas (1990),Crime|Drama,126.0,4.250000
912,Casablanca (1942),Drama|Romance,100.0,4.240000

## Recommend based on the user preferences/characteristics

The recommendation is based on the movies watched by the user

### Characteristics

Movies whatched by an hypothetic user

In [11]:
eu_assisti = [1, 21, 19, 10, 11, 7, 2]
filmes.loc[eu_assisti]

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215.0,3.920930
21,Get Shorty (1995),Comedy|Crime|Thriller,89.0,3.494382
19,Ace Ventura: When Nature Calls (1995),Comedy,88.0,2.727273
10,GoldenEye (1995),Action|Adventure|Thriller,132.0,3.496212
11,"American President, The (1995)",Comedy|Drama|Romance,70.0,3.671429
7,Sabrina (1995),Comedy|Romance,54.0,3.185185
2,Jumanji (1995),Adventure|Children|Fantasy,110.0,3.431818

**Filter movies from a given genre and with more than 50 views and excluding the ones a given user already watched**

In [12]:
aventura_infantil_e_fantasia = filmes_com_mais_de_50_votos.query("generos=='Adventure|Children|Fantasy'")
aventura_infantil_e_fantasia.drop(eu_assisti, errors='ignore').sort_values("nota_media", ascending = False).head(10)

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,Adventure|Children|Fantasy,107.0,3.761682
41566,"Chronicles of Narnia: The Lion, the Witch and ...",Adventure|Children|Fantasy,62.0,3.443548

Collaborative filtering x Content based filtering. See different types and characteristics of recommender systems https://en.wikipedia.org/wiki/Recommender_system

Some systems will show you popular options, other will be based on what you have watched, or based on movies of niche (fewer views) to improve diversity, etc.

### Recommendation based on other user profiles

Now we will proceed with a recommendation based on what similar user profiles watched.
For example, for movie id=1, user A rate 6, user B rate 6.5, user C rated 6.3 while user D rate 2.5. Therefore user A,B,C form a group and user D anothe one. However, calculating the distances between the profiles when analysing more movies ids, things get trickier.

For example ratings fiven by the user=1 to all movies he/she watched

In [13]:
notas_do_usuario = notas.query("usuarioId==1")
notas_do_usuario = notas_do_usuario[["filmeId", "nota"]].set_index("filmeId")
notas_do_usuario

         nota
filmeId
1         4.0
3         4.0
6         4.0
47        5.0
50        5.0
...       ...
3744      4.0
3793      5.0
3809      4.0
4006      4.0
5060      5.0

[232 rows x 1 columns]

Genralize for all user

In [14]:
def notas_do_usuario(usuario):
  notas_do_usuario = notas.query("usuarioId==%d" % usuario)
  notas_do_usuario = notas_do_usuario[["filmeId", "nota"]].set_index("filmeId")
  return notas_do_usuario

This function alllows to see the ratings given by each user

For example user 1 and user 4

In [15]:
usuario1 = notas_do_usuario(1)
usuario4 = notas_do_usuario(4)

In [16]:
usuario1.head()

         nota
filmeId
1         4.0
3         4.0
6         4.0
47        5.0
50        5.0

To illustrate what will be done, see what movies user 1 watched, the respective grade and what user 4 also watched and graded.

In [17]:
usuario1.join(usuario4, lsuffix="_esquerda", rsuffix="_direita").dropna().head() # esquerda is user 1 and direita user 4 (added dropna to filter only movies watched by both)

         nota_esquerda  nota_direita
filmeId
47                 5.0           2.0
235                4.0           2.0
260                5.0           5.0
296                3.0           1.0
441                4.0           1.0

Calculate the distance between the columns above

formula to calculate distance between 2 columns

In [18]:
def distancia_de_vetores(a,b):
  return np.linalg.norm(a - b)

In [19]:
import numpy as np
diferencas = usuario1.join(usuario4, lsuffix="_esquerda", rsuffix="_direita").dropna()
distancia_de_vetores(diferencas['nota_esquerda'], diferencas['nota_direita'])

11.135528725660043

Make a function for all users

In [20]:
def distancia_de_usuarios(usuario_id1, usuario_id2):
  notas1 = notas_do_usuario(usuario_id1)
  notas2 = notas_do_usuario(usuario_id2)
  diferencas = notas1.join(notas2, lsuffix="_esquerda", rsuffix="_direita").dropna()
  distancia =  distancia_de_vetores(diferencas['nota_esquerda'], diferencas['nota_direita'])
  return [usuario_id1, usuario_id2, distancia]

Test the ditance between users 1 and 4 again but using the function now

In [21]:
distancia_de_usuarios(1,4) # same as expected

[1, 4, 11.135528725660043]

Imagine you have an hypothetical user and we need to find the profiles similar to this one to suggest a movie given the profiles' similarities.

In [22]:
# number of users
quantidade_de_usuarios = len(notas['usuarioId'].unique())
print("Temos %d usuarios" % quantidade_de_usuarios)

Temos 610 usuarios

Calculate the distance between the hypothetical user and all the others:

In [23]:
voce_id=1

for usuario_id in notas['usuarioId'].unique():
    informacoes = distancia_de_usuarios(voce_id, usuario_id)
    print(informacoes)

[1, 1, 0.0]
[1, 2, 1.4142135623730951]
[1, 3, 8.200609733428363]
[1, 4, 11.135528725660043]
[1, 5, 3.7416573867739413]
[1, 6, 8.602325267042627]
[1, 7, 7.106335201775948]
[1, 8, 3.7416573867739413]
[1, 9, 1.0]
[1, 10, 7.858116822750856]
[1, 11, 4.242640687119285]
[1, 12, 0.7071067811865476]
[1, 13, 1.4142135623730951]
[1, 14, 5.0]
[1, 15, 5.852349955359813]
[1, 16, 7.22841614740048]
[1, 17, 4.6097722286464435]
[1, 18, 8.426149773176359]
[1, 19, 17.60681686165901]
[1, 20, 6.48074069840786]
[1, 21, 9.096702699330127]
[1, 22, 5.244044240850758]
[1, 23, 5.408326913195984]
[1, 24, 4.415880433163924]
[1, 25, 1.4142135623730951]
[1, 26, 2.23606797749979]
[1, 27, 9.219544457292887]
[1, 28, 14.882876066137216]
[1, 29, 4.55521678957215]
[1, 30, 1.8027756377319946]
[1, 31, 4.58257569495584]
[1, 32, 5.196152422706632]
[1, 33, 5.916079783099616]
[1, 34, 6.363961030678928]
[1, 35, 2.23606797749979]
[1, 36, 6.519202405202649]
[1, 37, 4.0]
[1, 38, 5.5677643628300215]
[1, 39, 11.090536506409418]
[1, 40, 6.855654600401044]
[1, 41, 10.198039027185569]
[1, 42, 12.0]
[1, 43, 4.795831523312719]
[1, 44, 3.7416573867739413]
[1, 45, 10.653637876331258]
[1, 46, 3.3166247903554]
[1, 47, 6.244997998398398]
[1, 48, 4.123105625617661]
[1, 49, 1.0]
[1, 50, 7.33143914930759]
[1, 51, 10.476163419878482]
[1, 52, 2.5495097567963922]
[1, 53, 1.0]
[1, 54, 4.123105625617661]
[1, 55, 6.5383484153110105]
[1, 56, 3.3166247903554]
[1, 57, 13.19090595827292]
[1, 58, 4.898979485566356]
[1, 59, 9.0]
[1, 60, 2.449489742783178]
[1, 61, 3.082207001484488]
[1, 62, 3.6742346141747673]
[1, 63, 9.669539802906858]
[1, 64, 11.335784048754634]
[1, 65, 1.3228756555322954]
[1, 66, 8.411301920630361]
[1, 67, 3.4641016151377544]
[1, 68, 21.558061137310098]
[1, 69, 3.3166247903554]
[1, 70, 3.0]
[1, 71, 5.744562646538029]
[1, 72, 2.7386127875258306]
[1, 73, 3.8078865529319543]
[1, 74, 4.358898943540674]
[1, 75, 9.192388155425117]
[1, 76, 9.40744386111339]
[1, 77, 0.0]
[1, 78, 4.949747468305833]
[1, 79, 5.744562646538029]
[1, 80, 3.0413812651491097]
[1, 81, 6.082762530298219]
[1, 82, 7.365459931328117]
[1, 83, 7.0178344238090995]
[1, 84, 7.810249675906654]
[1, 85, 0.0]
[1, 86, 3.7080992435478315]
[1, 87, 2.0]
[1, 88, 2.5]
[1, 89, 12.389511693363866]
[1, 90, 1.4142135623730951]
[1, 91, 13.518505834595775]
[1, 92, 1.118033988749895]
[1, 93, 5.916079783099616]
[1, 94, 4.58257569495584]
[1, 95, 4.123105625617661]
[1, 96, 8.54400374531753]
[1, 97, 2.6457513110645907]
[1, 98, 5.979130371550699]
[1, 99, 2.449489742783178]
[1, 100, 5.545268253204709]
[1, 101, 4.795831523312719]
[1, 102, 5.0]
[1, 103, 7.697402159170326]
[1, 104, 9.354143466934854]
[1, 105, 5.744562646538029]
[1, 106, 2.5]
[1, 107, 2.449489742783178]
[1, 108, 3.605551275463989]
[1, 109, 6.782329983125268]
[1, 110, 3.3166247903554]
[1, 111, 10.920164833920778]
[1, 112, 3.3166247903554]
[1, 113, 3.0]
[1, 114, 3.122498999199199]
[1, 115, 8.426149773176359]
[1, 116, 7.483314773547883]
[1, 117, 6.928203230275509]
[1, 118, 3.0]
[1, 119, 3.5]
[1, 120, 3.1622776601683795]
[1, 121, 4.242640687119285]
[1, 122, 5.315072906367325]
[1, 123, 2.5]
[1, 124, 4.06201920231798]
[1, 125, 4.330127018922194]
[1, 126, 5.385164807134504]
[1, 127, 1.0]
[1, 128, 3.3166247903554]
[1, 129, 5.634713834792322]
[1, 130, 3.1622776601683795]
[1, 131, 6.324555320336759]
[1, 132, 12.24744871391589]
[1, 133, 4.47213595499958]
[1, 134, 4.242640687119285]
[1, 135, 10.099504938362077]
[1, 136, 6.244997998398398]
[1, 137, 6.461423991660043]
[1, 138, 5.545268253204709]
[1, 139, 4.301162633521313]
[1, 140, 10.428326807307105]
[1, 141, 7.713624310270756]
[1, 142, 3.7416573867739413]
[1, 143, 4.153311931459037]
[1, 144, 6.34428877022476]
[1, 145, 2.8284271247461903]
[1, 146, 1.5]
[1, 147, 5.123475382979799]
[1, 148, 2.0]
[1, 149, 6.557438524302]
[1, 150, 2.8284271247461903]
[1, 151, 3.3166247903554]
[1, 152, 3.9370039370059056]
[1, 153, 13.592277219068187]
[1, 154, 1.118033988749895]
[1, 155, 4.242640687119285]
[1, 156, 12.409673645990857]
[1, 157, 1.7320508075688772]
[1, 158, 3.24037034920393]
[1, 159, 5.916079783099616]
[1, 160, 18.7949461292125]
[1, 161, 2.9154759474226504]
[1, 162, 1.4142135623730951]
[1, 163, 3.1622776601683795]
[1, 164, 5.385164807134504]
[1, 165, 4.242640687119285]
[1, 166, 6.800735254367722]
[1, 167, 6.59545297913646]
[1, 168, 3.840572873934304]
[1, 169, 5.522680508593631]
[1, 170, 3.1622776601683795]
[1, 171, 4.358898943540674]
[1, 172, 2.958039891549808]
[1, 173, 2.8284271247461903]
[1, 174, 5.291502622129181]
[1, 175, 0.0]
[1, 176, 2.6457513110645907]
[1, 177, 16.25576820700886]
[1, 178, 3.0413812651491097]
[1, 179, 4.58257569495584]
[1, 180, 3.2015621187164243]
[1, 181, 7.483314773547883]
[1, 182, 15.88238017426859]
[1, 183, 5.916079783099616]
[1, 184, 1.5]
[1, 185, 3.3166247903554]
[1, 186, 7.54983443527075]
[1, 187, 10.677078252031311]
[1, 188, 2.23606797749979]
[1, 189, 1.8027756377319946]
[1, 190, 2.23606797749979]
[1, 191, 4.47213595499958]
[1, 192, 3.1622776601683795]
[1, 193, 6.224949798994366]
[1, 194, 2.5]
[1, 195, 9.273618495495704]
[1, 196, 2.179449471770337]
[1, 197, 4.358898943540674]
[1, 198, 9.643650760992955]
[1, 199, 9.72111104761179]
[1, 200, 7.729812416870153]
[1, 201, 5.916079783099616]
[1, 202, 11.045361017187261]
[1, 203, 6.461423991660043]
[1, 204, 2.5495097567963922]
[1, 205, 1.8708286933869707]
[1, 206, 2.449489742783178]
[1, 207, 2.179449471770337]
[1, 208, 3.7416573867739413]
[1, 209, 2.449489742783178]
[1, 210, 3.872983346207417]
[1, 211, 4.092676385936225]
[1, 212, 7.582875444051551]
[1, 213, 2.449489742783178]
[1, 214, 3.1622776601683795]
[1, 215, 5.0990195135927845]
[1, 216, 8.06225774829855]
[1, 217, 19.6468827043885]
[1, 218, 4.153311931459037]
[1, 219, 11.926860441876563]
[1, 220, 10.012492197250394]
[1, 221, 7.681145747868608]
[1, 222, 7.615773105863909]
[1, 223, 6.34428877022476]
[1, 224, 4.898979485566356]
[1, 225, 6.6332495807108]
[1, 226, 10.920164833920778]
[1, 227, 3.2015621187164243]
[1, 228, 3.3166247903554]
[1, 229, 3.7416573867739413]
[1, 230, 12.893796958227627]
[1, 231, 4.272001872658765]
[1, 232, 10.074720839804943]
[1, 233, 6.144102863722254]
[1, 234, 9.38083151964686]
[1, 235, 3.605551275463989]
[1, 236, 2.0]
[1, 237, 4.769696007084728]
[1, 238, 3.4641016151377544]
[1, 239, 7.745966692414834]
[1, 240, 6.164414002968976]
[1, 241, 4.153311931459037]
[1, 242, 3.4641016151377544]
[1, 243, 3.605551275463989]
[1, 244, 7.483314773547883]
[1, 245, 4.0]
[1, 246, 4.55521678957215]
[1, 247, 6.800735254367722]
[1, 248, 3.640054944640259]
[1, 249, 8.587782018658833]
[1, 250, 2.1213203435596424]
[1, 251, 2.8284271247461903]
[1, 252, 1.5811388300841898]
[1, 253, 0.0]
[1, 254, 4.769696007084728]
[1, 255, 6.782329983125268]
[1, 256, 3.0]
[1, 257, 4.06201920231798]
[1, 258, 1.0]
[1, 259, 2.5]
[1, 260, 6.244997998398398]
[1, 261, 4.8218253804964775]
[1, 262, 4.358898943540674]
[1, 263, 6.020797289396148]
[1, 264, 7.211102550927978]
[1, 265, 7.745966692414834]
[1, 266, 8.831760866327848]
[1, 267, 6.082762530298219]
[1, 268, 9.16515138991168]
[1, 269, 2.0]
[1, 270, 2.6457513110645907]
[1, 271, 5.385164807134504]
[1, 272, 1.8027756377319946]
[1, 273, 4.58257569495584]
[1, 274, 15.386682553429118]
[1, 275, 8.660254037844387]
[1, 276, 3.7416573867739413]
[1, 277, 2.6457513110645907]
[1, 278, 0.5]
[1, 279, 7.211102550927978]
[1, 280, 6.5]
[1, 281, 3.5]
[1, 282, 8.411301920630361]
[1, 283, 3.4641016151377544]
[1, 284, 5.196152422706632]
[1, 285, 2.8722813232690143]
[1, 286, 4.949747468305833]
[1, 287, 11.683321445547923]
[1, 288, 18.23458252881047]
[1, 289, 3.0413812651491097]
[1, 290, 6.244997998398398]
[1, 291, 0.0]
[1, 292, 11.629703349613008]
[1, 293, 5.916079783099616]
[1, 294, 15.620499351813308]
[1, 295, 5.477225575051661]
[1, 296, 3.7416573867739413]
[1, 297, 4.898979485566356]
[1, 298, 13.095800853708795]
[1, 299, 3.0]
[1, 300, 1.5]
[1, 301, 8.616843969807043]
[1, 302, 2.8284271247461903]
[1, 303, 5.830951894845301]
[1, 304, 8.426149773176359]
[1, 305, 11.213830746002902]
[1, 306, 0.0]
[1, 307, 16.537835408541227]
[1, 308, 14.080127840328723]
[1, 309, 4.6097722286464435]
[1, 310, 3.9370039370059056]
[1, 311, 5.722761571129799]
[1, 312, 8.06225774829855]
[1, 313, 17.549928774784245]
[1, 314, 7.3484692283495345]
[1, 315, 2.0]
[1, 316, 5.267826876426369]
[1, 317, 7.3484692283495345]
[1, 318, 9.055385138137417]
[1, 319, 1.118033988749895]
[1, 320, 2.692582403567252]
[1, 321, 3.872983346207417]
[1, 322, 7.211102550927978]
[1, 323, 5.431390245600108]
[1, 324, 2.0]
[1, 325, 9.486832980505138]
[1, 326, 4.663689526544408]
[1, 327, 2.7838821814150108]
[1, 328, 12.942179105544785]
[1, 329, 9.899494936611665]
[1, 330, 12.389511693363866]
[1, 331, 3.7080992435478315]
[1, 332, 8.396427811873332]
[1, 333, 3.1622776601683795]
[1, 334, 6.98212002188447]
[1, 335, 3.0]
[1, 336, 3.7080992435478315]
[1, 337, 4.795831523312719]
[1, 338, 1.6583123951777]
[1, 339, 6.7638746292343415]
[1, 340, 3.4641016151377544]
[1, 341, 2.7838821814150108]
[1, 342, 4.123105625617661]
[1, 343, 3.774917217635375]
[1, 344, 4.092676385936225]
[1, 345, 2.3979157616563596]
[1, 346, 7.0]
[1, 347, 3.872983346207417]
[1, 348, 2.6457513110645907]
[1, 349, 3.872983346207417]
[1, 350, 3.872983346207417]
[1, 351, 2.449489742783178]
[1, 352, 6.576473218982953]
[1, 353, 5.196152422706632]
[1, 354, 8.717797887081348]
[1, 355, 2.6457513110645907]
[1, 356, 7.035623639735144]
[1, 357, 8.717797887081348]
[1, 358, 1.0]
[1, 359, 5.958187643906492]
[1, 360, 1.0]
[1, 361, 9.233092656309694]
[1, 362, 4.769696007084728]
[1, 363, 6.041522986797286]
[1, 364, 3.3166247903554]
[1, 365, 9.096702699330127]
[1, 366, 0.7071067811865476]
[1, 367, 9.1104335791443]
[1, 368, 15.491933384829668]
[1, 369, 6.442049363362563]
[1, 370, 10.535653752852738]
[1, 371, 3.122498999199199]
[1, 372, 11.313708498984761]
[1, 373, 8.717797887081348]
[1, 374, 4.0]
[1, 375, 2.7386127875258306]
[1, 376, 6.264982043070834]
[1, 377, 3.1622776601683795]
[1, 378, 2.0615528128088303]
[1, 379, 4.123105625617661]
[1, 380, 12.569805089976535]
[1, 381, 10.770329614269007]
[1, 382, 5.612486080160912]
[1, 383, 2.0]
[1, 384, 4.795831523312719]
[1, 385, 8.774964387392123]
[1, 386, 7.483314773547883]
[1, 387, 15.419143945109274]
[1, 388, 1.0]
[1, 389, 3.3166247903554]
[1, 390, 5.852349955359813]
[1, 391, 13.820274961085254]
[1, 392, 3.4641016151377544]
[1, 393, 6.892024376045111]
[1, 394, 3.3166247903554]
[1, 395, 6.928203230275509]
[1, 396, 4.387482193696061]
[1, 397, 0.0]
[1, 398, 1.224744871391589]
[1, 399, 6.264982043070834]
[1, 400, 3.3541019662496847]
[1, 401, 2.179449471770337]
[1, 402, 4.47213595499958]
[1, 403, 4.847679857416329]
[1, 404, 4.0]
[1, 405, 4.415880433163924]
[1, 406, 5.123475382979799]
[1, 407, 2.6457513110645907]
[1, 408, 3.427827300200522]
[1, 409, 6.48074069840786]
[1, 410, 6.928203230275509]
[1, 411, 7.211102550927978]
[1, 412, 6.782329983125268]
[1, 413, 6.5]
[1, 414, 14.730919862656235]
[1, 415, 5.049752469181039]
[1, 416, 7.3484692283495345]
[1, 417, 4.5]
[1, 418, 8.817596044274199]
[1, 419, 9.16515138991168]
[1, 420, 5.07444578254611]
[1, 421, 2.5]
[1, 422, 3.0]
[1, 423, 3.6742346141747673]
[1, 424, 7.245688373094719]
[1, 425, 11.169153951844338]
[1, 426, 5.361902647381804]
[1, 427, 3.0413812651491097]
[1, 428, 16.015617378046965]
[1, 429, 2.8284271247461903]
[1, 430, 2.0]
[1, 431, 3.082207001484488]
[1, 432, 7.399324293474371]
[1, 433, 4.387482193696061]
[1, 434, 8.306623862918075]
[1, 435, 2.449489742783178]
[1, 436, 5.744562646538029]
[1, 437, 6.244997998398398]
[1, 438, 8.12403840463596]
[1, 439, 2.598076211353316]
[1, 440, 2.0615528128088303]
[1, 441, 5.1478150704935]
[1, 442, 5.722761571129799]
[1, 443, 2.958039891549808]
[1, 444, 5.0990195135927845]
[1, 445, 3.4641016151377544]
[1, 446, 5.830951894845301]
[1, 447, 3.1622776601683795]
[1, 448, 13.892443989449804]
[1, 449, 4.8218253804964775]
[1, 450, 2.8284271247461903]
[1, 451, 2.6457513110645907]
[1, 452, 8.48528137423857]
[1, 453, 10.770329614269007]
[1, 454, 4.242640687119285]
[1, 455, 3.7416573867739413]
[1, 456, 3.4641016151377544]
[1, 457, 5.656854249492381]
[1, 458, 4.69041575982343]
[1, 459, 2.0615528128088303]
[1, 460, 1.8027756377319946]
[1, 461, 9.924716620639604]
[1, 462, 15.47578754054216]
[1, 463, 3.3541019662496847]
[1, 464, 5.809475019311125]
[1, 465, 6.244997998398398]
[1, 466, 4.847679857416329]
[1, 467, 3.1622776601683795]
[1, 468, 3.872983346207417]
[1, 469, 12.409673645990857]
[1, 470, 5.0990195135927845]
[1, 471, 2.5495097567963922]
[1, 472, 0.5]
[1, 473, 1.5811388300841898]
[1, 474, 18.59435398178705]
[1, 475, 4.358898943540674]
[1, 476, 1.7320508075688772]
[1, 477, 10.464224768228174]
[1, 478, 3.082207001484488]
[1, 479, 5.744562646538029]
[1, 480, 14.67140075112121]
[1, 481, 1.0]
[1, 482, 5.958187643906492]
[1, 483, 13.219304066402286]
[1, 484, 5.477225575051661]
[1, 485, 4.795831523312719]
[1, 486, 5.5677643628300215]
[1, 487, 3.391164991562634]
[1, 488, 6.422616289332565]
[1, 489, 14.0089257261219]
[1, 490, 5.315072906367325]
[1, 491, 1.9364916731037085]
[1, 492, 4.795831523312719]
[1, 493, 7.14142842854285]
[1, 494, 3.0]
[1, 495, 4.123105625617661]
[1, 496, 0.0]
[1, 497, 5.049752469181039]
[1, 498, 3.872983346207417]
[1, 499, 1.5]
[1, 500, 7.810249675906654]
[1, 501, 5.477225575051661]
[1, 502, 5.937171043518958]
[1, 503, 4.183300132670378]
[1, 504, 1.8708286933869707]
[1, 505, 1.8027756377319946]
[1, 506, 0.0]
[1, 507, 3.0]
[1, 508, 4.358898943540674]
[1, 509, 9.617692030835672]
[1, 510, 6.837397165588672]
[1, 511, 0.5]
[1, 512, 3.7416573867739413]
[1, 513, 3.5355339059327378]
[1, 514, 8.631338250816034]
[1, 515, 1.5]
[1, 516, 3.0]
[1, 517, 17.370952766040208]
[1, 518, 2.0615528128088303]
[1, 519, 1.0]
[1, 520, 7.262919523166975]
[1, 521, 2.23606797749979]
[1, 522, 7.952986860293433]
[1, 523, 1.0]
[1, 524, 6.164414002968976]
[1, 525, 10.41633332799983]
[1, 526, 2.23606797749979]
[1, 527, 8.306623862918075]
[1, 528, 6.244997998398398]
[1, 529, 3.4641016151377544]
[1, 530, 1.4142135623730951]
[1, 531, 2.6457513110645907]
[1, 532, 4.123105625617661]
[1, 533, 2.5]
[1, 534, 6.7638746292343415]
[1, 535, 2.449489742783178]
[1, 536, 3.605551275463989]
[1, 537, 4.272001872658765]
[1, 538, 1.118033988749895]
[1, 539, 3.8078865529319543]
[1, 540, 2.8722813232690143]
[1, 541, 7.0710678118654755]
[1, 542, 5.522680508593631]
[1, 543, 2.449489742783178]
[1, 544, 3.4641016151377544]
[1, 545, 2.692582403567252]
[1, 546, 5.5677643628300215]
[1, 547, 2.0]
[1, 548, 3.391164991562634]
[1, 549, 7.0178344238090995]
[1, 550, 0.5]
[1, 551, 3.905124837953327]
[1, 552, 9.7082439194738]
[1, 553, 4.8218253804964775]
[1, 554, 8.831760866327848]
[1, 555, 10.295630140987]
[1, 556, 0.0]
[1, 557, 7.314369419163897]
[1, 558, 4.58257569495584]
[1, 559, 6.782329983125268]
[1, 560, 7.158910531638177]
[1, 561, 10.464224768228174]
[1, 562, 6.363961030678928]
[1, 563, 3.24037034920393]
[1, 564, 2.23606797749979]
[1, 565, 4.0]
[1, 566, 6.324555320336759]
[1, 567, 9.86154146165801]
[1, 568, 2.5]
[1, 569, 3.872983346207417]
[1, 570, 9.246621004453464]
[1, 571, 5.477225575051661]
[1, 572, 6.6332495807108]
[1, 573, 9.1104335791443]
[1, 574, 2.0]
[1, 575, 2.6457513110645907]
[1, 576, 2.598076211353316]
[1, 577, 9.643650760992955]
[1, 578, 0.0]
[1, 579, 8.366600265340756]
[1, 580, 10.161200716450788]
[1, 581, 1.6583123951777]
[1, 582, 1.7320508075688772]
[1, 583, 2.598076211353316]
[1, 584, 5.0990195135927845]
[1, 585, 3.1622776601683795]
[1, 586, 4.69041575982343]
[1, 587, 7.3484692283495345]
[1, 588, 6.928203230275509]
[1, 589, 5.0]
[1, 590, 14.062361110425233]
[1, 591, 5.0990195135927845]
[1, 592, 5.0990195135927845]
[1, 593, 7.314369419163897]
[1, 594, 5.291502622129181]
[1, 595, 1.7320508075688772]
[1, 596, 6.96419413859206]
[1, 597, 9.0]
[1, 598, 4.301162633521313]
[1, 599, 19.665960439297137]
[1, 600, 17.902513789968157]
[1, 601, 2.0615528128088303]
[1, 602, 6.324555320336759]
[1, 603, 18.33030277982336]
[1, 604, 4.123105625617661]
[1, 605, 9.899494936611665]
[1, 606, 11.510864433221338]
[1, 607, 9.899494936611665]
[1, 608, 18.2414363469547]
[1, 609, 3.1622776601683795]
[1, 610, 8.031189202104505]

Create a function and show the distance between the hypothetical user 1 and 5 others

In [37]:
def distancia_de_todos(voce_id):
  todos_os_usuarios = notas['usuarioId'].unique()
  distancias = [distancia_de_usuarios(voce_id, usuario_id) for usuario_id in todos_os_usuarios]
  distancias = pd.DataFrame(distancias, columns = ["voce", "outra_pessoa", "distancia"])
  return distancias

distancia_de_todos(1).head()

   voce  outra_pessoa      distancia
0     1             1       0.000000
1     1             2  100000.000000
2     1             3       8.200610
3     1             4      11.135529
4     1             5       3.741657

Some rows have 0 as distance which is weird

When used dropna previously the cases where both users did not watched a given movie were kept

In [32]:
notas_do_usuario(1).join(notas_do_usuario(1), lsuffix="_1", rsuffix="4").dropna()

         nota_1  nota4
filmeId
1           4.0    4.0
3           4.0    4.0
6           4.0    4.0
47          5.0    5.0
50          5.0    5.0
...         ...    ...
3744        4.0    4.0
3793        5.0    5.0
3809        4.0    4.0
4006        4.0    4.0
5060        5.0    5.0

[232 rows x 2 columns]

The users that have nothing in common should have a high distance between them

In [36]:
def distancia_de_usuarios(usuario_id1, usuario_id2, minimo = 5): # set min =5
  notas1 = notas_do_usuario(usuario_id1)
  notas2 = notas_do_usuario(usuario_id2)
  diferencas = notas1.join(notas2, lsuffix="_esquerda", rsuffix="_direita").dropna()
  
  if(len(diferencas) < minimo):
    return [usuario_id1, usuario_id2, 100000] # set 100000 as distance
  
  distancia =  distancia_de_vetores(diferencas['nota_esquerda'], diferencas['nota_direita'])
  return [usuario_id1, usuario_id2, distancia]

In [38]:
distancia_de_todos(1).head()

   voce  outra_pessoa      distancia
0     1             1       0.000000
1     1             2  100000.000000
2     1             3       8.200610
3     1             4      11.135529
4     1             5       3.741657

In [39]:
def mais_proximos_de(voce_id):
  distancias = distancia_de_todos(voce_id)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id)
  return distancias

Order users with more and less distance than this hypothetical user. All the users that watched less than 5 movies were excluded

In [42]:
mais_proximos_de(1).head()

              voce  distancia
outra_pessoa
77               1   0.000000
511              1   0.500000
366              1   0.707107
523              1   1.000000
49               1   1.000000

### Parameters

Define how many users will be kept to be compared

In [43]:
def mais_proximos_de(voce_id, n = None): # None= all users
  distancias = distancia_de_todos(voce_id, n = n)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id)
  return distancias

Otherwise you can select a certain number of users tom compare

In [44]:
def distancia_de_todos(voce_id, n = None):
  todos_os_usuarios = notas['usuarioId'].unique()
  if n:
    todos_os_usuarios = todos_os_usuarios[:n]
  distancias = [distancia_de_usuarios(voce_id, usuario_id) for usuario_id in todos_os_usuarios]
  distancias = pd.DataFrame(distancias, columns = ["voce", "outra_pessoa", "distancia"])
  return distancias

For example, 50

In [45]:
mais_proximos_de(1, n = 50)

              voce      distancia
outra_pessoa
49               1       1.000000
9                1       1.000000
13               1       1.414214
25               1       1.414214
30               1       1.802776
35               1       2.236068
26               1       2.236068
46               1       3.316625
8                1       3.741657
44               1       3.741657
5                1       3.741657
37               1       4.000000
48               1       4.123106
11               1       4.242641
24               1       4.415880
29               1       4.555217
31               1       4.582576
17               1       4.609772
43               1       4.795832
14               1       5.000000
32               1       5.196152
22               1       5.244044
23               1       5.408327
38               1       5.567764
15               1       5.852350
33               1       5.916080
47               1       6.244998
34               1       6.363961
20               1       6.480741
36               1       6.519202
40               1       6.855655
7                1       7.106335
16               1       7.228416
50               1       7.331439
10               1       7.858117
3                1       8.200610
18               1       8.426150
6                1       8.602325
21               1       9.096703
27               1       9.219544
41               1      10.198039
45               1      10.653638
39               1      11.090537
4                1      11.135529
42               1      12.000000
28               1      14.882876
19               1      17.606817
2                1  100000.000000
12               1  100000.000000

You can discard users with long distances (e.g., 100.000)

In [47]:
def distancia_de_usuarios(usuario_id1, usuario_id2, minimo = 5):
  notas1 = notas_do_usuario(usuario_id1)
  notas2 = notas_do_usuario(usuario_id2)
  diferencas = notas1.join(notas2, lsuffix="_esquerda", rsuffix="_direita").dropna()
  
  if(len(diferencas) < minimo):
    return None # instead of 100.000 as done previously
  
  distancia =  distancia_de_vetores(diferencas['nota_esquerda'], diferencas['nota_direita'])
  return [usuario_id1, usuario_id2, distancia]

In [48]:
def distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = None):
  todos_os_usuarios = notas['usuarioId'].unique()
  if numero_de_usuarios_a_analisar:
    todos_os_usuarios = todos_os_usuarios[:numero_de_usuarios_a_analisar]
  distancias = [distancia_de_usuarios(voce_id, usuario_id) for usuario_id in todos_os_usuarios]
  distancias = list(filter(None, distancias))
  distancias = pd.DataFrame(distancias, columns = ["voce", "outra_pessoa", "distancia"])
  return distancias

In [49]:
def mais_proximos_de(voce_id, numero_de_usuarios_a_analisar = None):
  distancias = distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id)
  return distancias

In [50]:
mais_proximos_de(1, numero_de_usuarios_a_analisar = 50)

              voce  distancia
outra_pessoa
49               1   1.000000
9                1   1.000000
25               1   1.414214
13               1   1.414214
30               1   1.802776
35               1   2.236068
26               1   2.236068
46               1   3.316625
8                1   3.741657
5                1   3.741657
44               1   3.741657
37               1   4.000000
48               1   4.123106
11               1   4.242641
24               1   4.415880
29               1   4.555217
31               1   4.582576
17               1   4.609772
43               1   4.795832
14               1   5.000000
32               1   5.196152
22               1   5.244044
23               1   5.408327
38               1   5.567764
15               1   5.852350
33               1   5.916080
47               1   6.244998
34               1   6.363961
20               1   6.480741
36               1   6.519202
40               1   6.855655
7                1   7.106335
16               1   7.228416
50               1   7.331439
10               1   7.858117
3                1   8.200610
18               1   8.426150
6                1   8.602325
21               1   9.096703
27               1   9.219544
41               1  10.198039
45               1  10.653638
39               1  11.090537
4                1  11.135529
42               1  12.000000
28               1  14.882876
19               1  17.606817

See the most similar users and recommend the best movies to the hypothetical user except what he/she has already watched.

In [51]:
def sugere_para(voce, numero_de_usuarios_a_analisar = None):
  notas_de_voce = notas_do_usuario(voce)
  filmes_que_voce_ja_viu = notas_de_voce.index

  similares = mais_proximos_de(voce, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  similar = similares.iloc[0].name
  notas_do_similar = notas_do_usuario(similar)
  notas_do_similar = notas_do_similar.drop(filmes_que_voce_ja_viu, errors='ignore')
  recomendacoes = notas_do_similar.sort_values("nota", ascending=False)
  return recomendacoes.join(filmes)

In [52]:
sugere_para(1, numero_de_usuarios_a_analisar=50).head()

,nota,titulo,generos,total_de_votos,nota_media
filmeId,,,,,
1200,4.5,Aliens (1986),Action|Adventure|Horror|Sci-Fi,126.0,3.964286
4022,4.5,Cast Away (2000),Drama,100.0,3.700000
47099,4.5,"Pursuit of Happyness, The (2006)",Drama,46.0,3.793478
79132,4.5,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX,143.0,4.066434
109487,4.5,Interstellar (2014),Sci-Fi|IMAX,73.0,3.993151

Above the recommendation was done based on the most 50 similar users behaviour. Below you consider all of the users instead.

In [53]:
sugere_para(1).head()

,nota,titulo,generos,total_de_votos,nota_media
filmeId,,,,,
8636,5.0,Spider-Man 2 (2004),Action|Adventure|Sci-Fi|IMAX,79.0,3.803797
58559,5.0,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,149.0,4.238255
33794,5.0,Batman Begins (2005),Action|Crime|IMAX,116.0,3.862069
4993,5.0,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy,198.0,4.106061
5349,5.0,Spider-Man (2002),Action|Adventure|Sci-Fi|Thriller,122.0,3.540984

### Recommend based on several users

So far we recommended movies considering the similarity of profiles of 1 hypothetical users and the others of the database. We now consider more than 1 user but n similar users to this hypothetical one.

Let's say the n=10 users similar to the hypothetical one

In [54]:
def mais_proximos_de(voce_id, n_mais_proximos=10, numero_de_usuarios_a_analisar = None):
  distancias = distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id)
  return distancias.head(n_mais_proximos)

In [56]:
mais_proximos_de(1, n_mais_proximos = 10, numero_de_usuarios_a_analisar=300)

              voce  distancia
outra_pessoa
77               1   0.000000
258              1   1.000000
49               1   1.000000
9                1   1.000000
65               1   1.322876
162              1   1.414214
90               1   1.414214
25               1   1.414214
13               1   1.414214
300              1   1.500000

In [57]:
def sugere_para(voce, n_mais_proximos = 10, numero_de_usuarios_a_analisar = None):
  notas_de_voce = notas_do_usuario(voce)
  filmes_que_voce_ja_viu = notas_de_voce.index

  similares = mais_proximos_de(voce, n_mais_proximos = n_mais_proximos, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  usuarios_similares = similares.index
  notas_dos_similares = notas.set_index("usuarioId").loc[usuarios_similares]
  recomendacoes = notas_dos_similares.groupby("filmeId").mean()[["nota"]]
  recomendacoes = recomendacoes.sort_values("nota", ascending=False)
  return recomendacoes.join(filmes)

See that above using just one hypothetical user to compare we had movies with few views being recommended. See below that recommendations have more views.

In [58]:
mais_proximos_de(1, n_mais_proximos = 2, numero_de_usuarios_a_analisar=300)

              voce  distancia
outra_pessoa
77               1        0.0
258              1        1.0

In [63]:
def sugere_para(voce, n_mais_proximos = 10, numero_de_usuarios_a_analisar = None):
  notas_de_voce = notas_do_usuario(voce)
  filmes_que_voce_ja_viu = notas_de_voce.index

  similares = mais_proximos_de(voce, n_mais_proximos = n_mais_proximos, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  usuarios_similares = similares.index
  notas_dos_similares = notas.set_index("usuarioId").loc[usuarios_similares]
  recomendacoes = notas_dos_similares.groupby("filmeId").mean()[["nota"]]
  recomendacoes = recomendacoes.sort_values("nota", ascending=False)
  return recomendacoes.join(filmes)

In [64]:
sugere_para(1, numero_de_usuarios_a_analisar = 50).head()

,nota,titulo,generos,total_de_votos,nota_media
filmeId,,,,,
187593,5.0,Deadpool 2 (2018),Action|Comedy|Sci-Fi,12.0,3.875000
68157,5.0,Inglourious Basterds (2009),Action|Drama|War,88.0,4.136364
475,5.0,In the Name of the Father (1993),Drama,25.0,4.300000
33794,5.0,Batman Begins (2005),Action|Crime|IMAX,116.0,3.862069
7153,5.0,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy,185.0,4.118919

In [65]:
sugere_para(1, numero_de_usuarios_a_analisar = 300).head()

,nota,titulo,generos,total_de_votos,nota_media
filmeId,,,,,
187593,5.0,Deadpool 2 (2018),Action|Comedy|Sci-Fi,12.0,3.875000
802,5.0,Phenomenon (1996),Drama|Romance,46.0,3.336957
534,5.0,Shadowlands (1993),Drama|Romance,14.0,3.607143
1172,5.0,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,34.0,4.161765
515,5.0,"Remains of the Day, The (1993)",Drama|Romance,24.0,3.604167

In [66]:
sugere_para(1).head()

,nota,titulo,generos,total_de_votos,nota_media
filmeId,,,,,
1704,5.0,Good Will Hunting (1997),Drama|Romance,141.0,4.078014
57504,5.0,"Girl Who Leapt Through Time, The (Toki o kaker...",Animation|Comedy|Drama|Romance|Sci-Fi,10.0,4.100000
38304,5.0,No Direction Home: Bob Dylan (2005),Documentary,4.0,4.625000
48394,5.0,"Pan's Labyrinth (Laberinto del fauno, El) (2006)",Drama|Fantasy|Thriller,81.0,3.814815
2300,5.0,"Producers, The (1968)",Comedy,33.0,3.969697

You can define the most similar users using a Knn algorithm

In [67]:
def knn(voce_id, k_mais_proximos=10, numero_de_usuarios_a_analisar = None):
  distancias = distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id)
  return distancias.head(k_mais_proximos)

In [68]:
def sugere_para(voce, k_mais_proximos = 10, numero_de_usuarios_a_analisar = None):
  notas_de_voce = notas_do_usuario(voce)
  filmes_que_voce_ja_viu = notas_de_voce.index

  similares = knn(voce, k_mais_proximos = k_mais_proximos, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  usuarios_similares = similares.index
  notas_dos_similares = notas.set_index("usuarioId").loc[usuarios_similares]
  recomendacoes = notas_dos_similares.groupby("filmeId").mean()[["nota"]]
  recomendacoes = recomendacoes.sort_values("nota", ascending=False)
  return recomendacoes.join(filmes)

In [69]:
sugere_para(1).head()

,nota,titulo,generos,total_de_votos,nota_media
filmeId,,,,,
1704,5.0,Good Will Hunting (1997),Drama|Romance,141.0,4.078014
57504,5.0,"Girl Who Leapt Through Time, The (Toki o kaker...",Animation|Comedy|Drama|Romance|Sci-Fi,10.0,4.100000
38304,5.0,No Direction Home: Bob Dylan (2005),Documentary,4.0,4.625000
48394,5.0,"Pan's Labyrinth (Laberinto del fauno, El) (2006)",Drama|Fantasy|Thriller,81.0,3.814815
2300,5.0,"Producers, The (1968)",Comedy,33.0,3.969697

## Test a new user

Create a new user

In [70]:
filmes.loc[[122904, 1246, 2529, 2329 , 2324 , 1 , 7 , 2 ,1196, 260]]

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
122904,Deadpool (2016),Action|Adventure|Comedy|Sci-Fi,54.0,3.833333
1246,Dead Poets Society (1989),Drama,86.0,3.959302
2529,Planet of the Apes (1968),Action|Drama|Sci-Fi,56.0,3.803571
2329,American History X (1998),Crime|Drama,129.0,4.217054
2324,Life Is Beautiful (La Vita bella) (1997),Comedy|Drama|Romance|War,88.0,4.147727
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215.0,3.920930
7,Sabrina (1995),Comedy|Romance,54.0,3.185185
2,Jumanji (1995),Adventure|Children|Fantasy,110.0,3.431818
1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,211.0,4.215640
260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,251.0,4.231076

In [71]:
def novo_usuario(dados):
  novo_usuario = notas['usuarioId'].max()+1 # define the id of the new user
  notas_do_usuario_novo = pd.DataFrame(dados, columns=["filmeId", "nota"])
  notas_do_usuario_novo['usuarioId'] = novo_usuario
  return pd.concat([notas, notas_do_usuario_novo]) # add the new user to my previous df

In [72]:
notas = novo_usuario([[122904,2],[1246,5],[2529,2],[2329,5],[2324,5],[1,2],[7,0.5],[2,2],[1196,1],[260,1]])
notas.tail()

   usuarioId  filmeId  nota  momento
5        611        1   2.0      NaN
6        611        7   0.5      NaN
7        611        2   2.0      NaN
8        611     1196   1.0      NaN
9        611      260   1.0      NaN

Make a recommendation for our newly created user 611

In [74]:
sugere_para(611).head()

,nota,titulo,generos,total_de_votos,nota_media
filmeId,,,,,
171495,5.0,Cosmos,(no genres listed),2.0,4.500000
81847,5.0,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...,24.0,3.916667
1873,5.0,"Misrables, Les (1998)",Crime|Drama|Romance|War,10.0,3.750000
8014,5.0,"Spring, Summer, Fall, Winter... and Spring (Bo...",Drama,10.0,4.250000
103141,5.0,Monsters University (2013),Adventure|Animation|Comedy,16.0,3.875000

We have forgotten to exclude recommendations of movies not popular (so we set views min> 50 or other number - you could focus on recommendations in movies with few views)

In [75]:
notas = notas.set_index("filmeId").loc[filmes_com_mais_de_50_votos.index]
notas.head()

         usuarioId  nota       momento
filmeId
1                1   4.0  9.649827e+08
1                5   4.0  8.474350e+08
1                7   4.5  1.106636e+09
1               15   2.5  1.510578e+09
1               17   4.5  1.305696e+09

In [76]:
notas = notas.reset_index()
notas.head()

   filmeId  usuarioId  nota       momento
0        1          1   4.0  9.649827e+08
1        1          5   4.0  8.474350e+08
2        1          7   4.5  1.106636e+09
3        1         15   2.5  1.510578e+09
4        1         17   4.5  1.305696e+09

See below the new suggestions

In [77]:
sugere_para(611).head()

,nota,titulo,generos,total_de_votos,nota_media
filmeId,,,,,
112852,5.000000,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi,59.0,4.050847
74458,4.750000,Shutter Island (2010),Drama|Mystery|Thriller,67.0,4.022388
71535,4.666667,Zombieland (2009),Action|Comedy|Horror,53.0,3.877358
78499,4.500000,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,55.0,4.109091
2804,4.500000,"Christmas Story, A (1983)",Children|Comedy,55.0,3.972727

When using Knn we take the average of a group of users to back the recommendation. However if only one of this group of users watched a given movie and gave a high rating this can be misleading. You can set a minimun number of views that this group needs to rate to have it recommended/considered.

In [78]:
def sugere_para(voce, k_mais_proximos = 10, numero_de_usuarios_a_analisar = None):
  notas_de_voce = notas_do_usuario(voce)
  filmes_que_voce_ja_viu = notas_de_voce.index

  similares = knn(voce, k_mais_proximos = k_mais_proximos, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  usuarios_similares = similares.index
  notas_dos_similares = notas.set_index("usuarioId").loc[usuarios_similares]
  recomendacoes = notas_dos_similares.groupby("filmeId").mean()[["nota"]] # take the average of this k group
  aparicoes = notas_dos_similares.groupby("filmeId").count()[['nota']] # count how many watched the movie
  
  filtro_minimo = k_mais_proximos / 2 # min number of people from the k group that need to watch the movie to have it recommended. Given the k_mais_proximos=10, here you say that at least 5 people among them need to watch the recommended movie
  recomendacoes = recomendacoes.join(aparicoes, lsuffix="_media_dos_usuarios", rsuffix="_aparicoes_nos_usuarios")
  recomendacoes = recomendacoes.query("nota_aparicoes_nos_usuarios >= %.2f" % filtro_minimo)  
  recomendacoes = recomendacoes.sort_values("nota_media_dos_usuarios", ascending=False)
  recomendacoes = recomendacoes.drop(filmes_que_voce_ja_viu,errors='ignore')
  return recomendacoes.join(filmes)

In [79]:
def knn(voce_id, k_mais_proximos=10, numero_de_usuarios_a_analisar = None):
  distancias = distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id, errors='ignore')
  return distancias.head(k_mais_proximos)

In [82]:
sugere_para(1, numero_de_usuarios_a_analisar=300)

,nota_media_dos_usuarios,nota_aparicoes_nos_usuarios,titulo,generos,total_de_votos,nota_media
filmeId,,,,,,
318,4.900000,5,"Shawshank Redemption, The (1994)",Crime|Drama,317.0,4.429022
4993,4.416667,6,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy,198.0,4.106061
5952,4.416667,6,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy,188.0,4.021277
7153,4.416667,6,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy,185.0,4.118919

In [83]:
sugere_para(611).head(10)

,nota_media_dos_usuarios,nota_aparicoes_nos_usuarios,titulo,generos,total_de_votos,nota_media
filmeId,,,,,,
318,4.500000,8,"Shawshank Redemption, The (1994)",Crime|Drama,317.0,4.429022
919,4.400000,5,"Wizard of Oz, The (1939)",Adventure|Children|Fantasy|Musical,92.0,3.880435
79132,4.357143,7,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX,143.0,4.066434
356,4.350000,10,Forrest Gump (1994),Comedy|Drama|Romance|War,329.0,4.164134
7361,4.312500,8,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi,131.0,4.160305
904,4.300000,5,Rear Window (1954),Mystery|Thriller,84.0,4.261905
593,4.222222,9,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,279.0,4.161290
46578,4.214286,7,Little Miss Sunshine (2006),Adventure|Comedy|Drama,77.0,3.883117
4246,4.200000,5,Bridget Jones's Diary (2001),Comedy|Drama|Romance,65.0,3.623077
4011,4.200000,5,Snatch (2000),Comedy|Crime|Thriller,93.0,4.155914

In [84]:
sugere_para(611, k_mais_proximos=20).head(10)

,nota_media_dos_usuarios,nota_aparicoes_nos_usuarios,titulo,generos,total_de_votos,nota_media
filmeId,,,,,,
593,4.266667,15,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,279.0,4.161290
296,4.264706,17,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,307.0,4.197068
4973,4.192308,13,"Amelie (Fabuleux destin d'Amlie Poulain, Le) ...",Comedy|Romance,120.0,4.183333
318,4.176471,17,"Shawshank Redemption, The (1994)",Crime|Drama,317.0,4.429022
46578,4.150000,10,Little Miss Sunshine (2006),Adventure|Comedy|Drama,77.0,3.883117
590,4.136364,11,Dances with Wolves (1990),Adventure|Drama|Western,164.0,3.835366
7361,4.133333,15,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi,131.0,4.160305
4878,4.125000,12,Donnie Darko (2001),Drama|Mystery|Sci-Fi|Thriller,109.0,3.981651
1213,4.100000,10,Goodfellas (1990),Crime|Drama,126.0,4.250000
5618,4.100000,10,Spirited Away (Sen to Chihiro no kamikakushi) ...,Adventure|Animation|Fantasy,87.0,4.155172